/* remove white space */
* { margin:0; padding:0; box-sizing:border-box; }

.bg-gradient {
    background: linear-gradient(-45deg, #4df3bc, #b26eff, #47b5fd);
    animation: gradient 20s ease infinite;
	background-size: 300% 300%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#banner{
	width: 100vw;
	height: 10vh;
	top: 0px;
	display: block;
	position: fixed;
}

#logo{
	width: 12.5vw;
	height: 10vh;
	left: 44vw;
	top: 3vh;
	position: absolute;
	display: inline-block;
	background-image: url(../index_pic/shadow.png);
	background-position: center;
}

body{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100vh;
	font-family: "Roboto", sans-serif;
	transition: 0.25s;
}

/* #b26eff */
/* #4df3bc */
/* #5ececa */
/* #FF7E74 */
/* #FFCD74 */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {
  /* background: linear-gradient(to bottom right, #AC92EC 0%, #53e3a6 100%); */
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -200px;
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

form button:hover {
  background-color: #f5f7f9;
}



/* for notification alert */
.notification-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-top: 15vh;
	justify-content: flex-start;
}

#success{
	display: flex;
	align-items: center;
	justify-content: center;
	positon: relative;
	width: 50px;
	height: 50px;
	background: #4DF3BC;
	transform: scale(0);
	border-radius: 50%;
	color: black;
	opacity: 0;
	overflow: hidden;
	animation:  scale-in .3s ease-out forwards,
				expand .35s .25s ease-out forwards,
				scale-out .2s 4s forwards;
}

#error{
	display: flex;
	align-items: center;
	justify-content: center;
	positon: relative;
	width: 50px;
	height: 50px;
	background: #ED5565;
	transform: scale(0);
	border-radius: 50%;
	color: white;
	opacity: 0;
	overflow: hidden;
	/*  animation:myAnim 1s linear 1s infinite alternate both running; */
	animation:  scale-in .3s ease-out forwards,
				expand .35s .25s ease-out forwards,
				scale-out .2s 4s forwards;
}

.notification-text {
	display: flex;
	align-items: center;
	padding: 0 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	animation:  fade-in 1s ease-in forwards,
				fade-out 0.5s 4s forwards;
				
}

@keyframes scale-in {
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes scale-out {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes expand {
	50% {
		width: 350px;
		border-radius: 6px;
	}
	100% {
		width: 300px;
		border-radius: 4px;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2),
								0px 1px 1px 0px rgba(0,0,0,.14),
								0px 3px 3px -1px rgba(0,0,0,.12);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .8;
	}
}

@keyframes fade-out {
	0% {
		opacity: .8;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}