<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SHARK - 注册</title>
		<link rel="stylesheet" type="text/css" href="register.css"/>
		
		<script src="../url_config.js"></script>
		<script src="../vue.js"></script>
		<script src="../jquery.js"></script>
		<script src="../axios.js"></script>
		<script src="../md5.js"></script>
	</head>

	<body class="bg-gradient">
		<div id="banner">
			<div id="logo" onclick="location.href='../index/index.html'"></div>
		</div>
		
		<div class="notification-container">
			<div class="rectangle" id="success" style="display: none;">
				<div class="notification-text">
					<span>&nbsp;&nbsp;{{success_message}}</span>
				</div>
			</div>
			<div class="rectangle" id="error" style="display: none;">
				<div class="notification-text">
					<span>&nbsp;&nbsp;{{error_message}}</span>
				</div>
			</div>
		</div>
		
		<div class="wrapper">
			<div class="container">
				<form class="form" id="register_form">
					<input type="text" placeholder="姓名" v-model="name" required>
					<input type="text" placeholder="手机号" v-model="tel" required @focusout="tel_check" id="t" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="11">
					<input type="password" placeholder="密码" v-model="password" required>
					<input type="password" placeholder="确认密码" v-model="confirm_password" required @focusout="password_check" id="c">
					<button type="button" id="register-button" @click="register">注册</button>
					<br><br>
					<h5>已有账号？<a href="../login/login.html" style="color: #53e3a6;">去登录</h5>
				</form>
			</div>
		</div>
	</body>

	
<script type="text/javascript">
// configure Vue
Vue.config.productionTip = false;
// configure baseURL
axios.defaults.baseURL = BaseURL;
// pop up notification Vue instance
var alert = new Vue({
	el:".notification-container",
	data:{
		success_message:"",
		error_message:"random shit"
	}
});
s = document.getElementById("success");
e = document.getElementById("error");
// form Vue instance
new Vue({
	el:"#register_form",
	data:{
		name:"",
		tel:"",
		password:"",
		confirm_password:""
	},
	methods:{
		tel_check(){
			if(this.tel.length != 11){
				document.getElementById("t").setCustomValidity("请输入11位手机号");
				return;
			}
			axios.post('/user/tel_check',
						{
							'tel': this.tel,
						},
						{
							headers:{
							'Content-Type': 'application/json;charset=UTF-8',
							'Accept': 'application/json, text/plain, */*',
							'Auth': 'TO BE GENERATED AFTER LOGIN'
							}
						}
				)
			.then(function (response) {
				rst = response.data.data.exist;
				if(rst==true){
					document.getElementById("t").setCustomValidity("手机号已经被注册");
					return;
				}
				document.getElementById("t").setCustomValidity('');
			})
			.catch(function (error) {
				console.log(error);
			});
		},
		password_check(){
			if(this.password != this.confirm_password){
				document.getElementById("c").setCustomValidity("确认密码与密码不一致");
				return;
			}
			document.getElementById("c").setCustomValidity('');
		},
		register(){
			document.getElementById("register_form").reportValidity();
			if(this.tel == '' || this.password == '' || this.name == '' || this.confirm_password == ''){
				return;
			}
			if(document.getElementById("t").validity.customError == true){
				return;
			}
			if(document.getElementById("c").validity.customError == true){
				return;
			}
			axios.post('/user/register',
						{
							'tel': this.tel,
							'name': this.name,
							'password_hash': md5(this.password)
						},
						{
							headers:{
							'Content-Type': 'application/json;charset=UTF-8',
							'Accept': 'application/json, text/plain, */*',
							'Auth': 'TO BE GENERATED AFTER LOGIN'
							}
						}
				)
			.then(function (response) {
				if(response.data.success == 0){
					alert.success_message = response.data.message;
					s.style.display = 'flex';
					// setTimeout(function(){window.location.href = "../login/login.html";}, 2500);
					// setTimeout(function(){s.style.display = 'none';}, 2500);
				}
				else{
					alert.error_message = response.data.message;
					e.style.display = 'flex';
					// setTimeout(function(){e.style.display = 'none';}, 2500);
				}
			})
			.catch(function (error) {
				alert.error_message = error.message;
				e.style.display = 'flex';
				setTimeout(function(){e.style.display = 'none';}, 4000);
			});
		}
	}
}
);
</script>
</html>
