:root {
  --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2e;
  --message-btn: #fff;
}

.projects-section {
  background-color: transparent;
  display: flex;
  height: 92vh;
  width: calc(93%);
  justify-content: center;
  flex-direction: column;
  transition: 0.4s ease;
}
.projects-section-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.7vh;
}
.projects-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
  margin-top: 3vh;
  color: var(--main-color);
}
.projects-section-header p {
  font-size: 3.3vh;
  line-height: 3vh;
  font-weight: 700;
  opacity: 0.9;
  margin: 0;
  align-self: center;
  color: var(--main-color);
}
.projects-section-header .time {
  font-size: 3.2vh;
}

.projects-status {
  display: flex;
}


.item-status {
  display: flex;
  flex-direction: column;
  margin-right: 1.25vw;
}


.status-number {
  font-size: 3vh;
  font-weight: 700;
  color: var(--main-color);
}

.status-type {
  position: relative;
  padding-right: 1.8vw;
  color: var(--secondary-color);
}

.my-spots{
	display: flex;
	flex-direction: row;
}

.view-actions {
  display: flex;
  align-items: center;
}

.view-btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--main-color);
  transition: 0.2s;
}
.list-view{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.grid-view{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.add-spot{
	border-radius: 5px;
	margin-left: 10px;
}
.view-btn.active {
  background-color: var(--link-color-active-bg);
  color: var(--link-color-active);
}
.view-btn:not(.active):hover {
  background-color: var(--link-color-hover);
  color: var(--link-color-active);
}

img {
	height: 20px;
	width: 20px;
}

.project-boxes {
  margin: 0 -8px;
  padding-bottom: 20px;
  overflow: scroll;
  height: 72vh;
  -webkit-mask-image: linear-gradient(0deg, #000 99%, transparent);
}
.project-boxes.jsGridView {
  display: flex;
  flex-wrap: wrap;
}
.project-boxes.jsGridView .project-box-wrapper {
  width: 33.3%;
}
.project-boxes.jsListView .project-box {
  display: flex;
  border-radius: 5px;
  position: relative;
}
.project-boxes.jsListView .project-box > * {
  margin-right: 24px;
}
.project-boxes.jsListView .more-wrapper {
  position: absolute;
  right: 16px;
  top: 16px;
}
.project-boxes.jsListView .project-box-content-header {
  order: 1;
  width: 15vw;
}
.project-boxes.jsListView .project-box-header {
  order: 2;
}
.project-boxes.jsListView .project-box-footer {
  order: 3;
  padding-top: 0;
  flex-direction: column;
  justify-content: flex-start;
   padding-left: 3vw;
   padding-right: 3vw;
   align-self: center;
}
.project-boxes.jsListView .project-box-footer:after {
  display: none;
}
.project-boxes.jsListView .participants {
  margin-bottom: 8px;
  align-self: center;
}
.project-boxes.jsListView .project-box-content-header p {
  text-align: left;
  white-space: wrap;
}
.project-boxes.jsListView .project-box-header > input {
  position: absolute;
  color: #4A4A4A;
  opacity: 0.7;
  border: none;
  outline: none;
  opacity: 0.7;
  font-family: inherit;
  font-size: 2vh;
  font-weight: 200;
  line-height: 2.3vh;
  left: 1.25vw;
  bottom: 2.3vh;
  margin: 0 0 -8px 0;
  /* color: transparent; */
  background: transparent;
}

.project-boxes.jsListView .box-progress-wrapper {
  order: 3;
  flex: 1;
  align-self: center;
}

.project-box {
  --main-color-card: #dbf6fd;
  border-radius: 5px;
  padding: 1.2vw;
  padding-bottom: 3vh;
  background-color: var(--main-color-card);
  box-shadow: 0 2px 4px rgb(0 0 0 / 40%), 0 -1px 0 rgb(0 0 0 / 2%);
}
.project-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: var(--main-color);
}
.project-box-header input {
  color: #4A4A4A;
  opacity: 0.7;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 2vh;
  font-weight: 200;
  /* color: transparent; */
  background: transparent;
}
.project-box-content-header {
  text-align: center;
  margin-bottom: 2.3vh;
}
.project-box-content-header p {
  margin: 0;
}
.project-box-wrapper {
  padding: 1.5vh;
  transition: 0.2s;
}

.project-btn-more {
  padding: 0;
  height: 2vh;
  width: 1.9vw;
  position: relative;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
}

.more-wrapper {
  position: relative;
}


.box-content-header {
  font-size: 2.3vh;
  line-height: 3vh;
  font-weight: 700;
  opacity: 0.7;
}

.box-content-subheader {
  font-size: 2vh;
  line-height: 4vh;
  opacity: 0.7;
}

.box-progress {
  display: block;
  height: 0.57vh;
  border-radius: 6px;
}
.box-progress-bar {
  height:  0.57vh;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  margin: 1.1vh 0;
}
.box-progress-header {
  font-size: 2vh;
  font-weight: 700;
  line-height: 2.3vh;
  margin: 0;
}
.box-progress-percentage {
  text-align: right;
  margin: 0;
  font-size: 2vh;
  font-weight: 700;
  line-height: 2.3vh;
}

.project-box-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 4vh;
  position: relative;
}
.project-box-footer:after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg,  #eeffff,  #a3c2f3,  #6191ce, #a3c2f3, #eeffff);
  width: calc(100%);
  top: 0;
  height: 1px;
  margin-top: 1.4vh;
}

.add-participant {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.days-left {
  background-color: rgba(180, 180, 198, 0.2);
  font-size: 1.7vh;
  border-radius: 20px;
  flex-shrink: 0;
  padding: 6px 16px;
  font-weight: 700;
}

.days-left.has_placed{
  background-color: #ffd9da;
  font-size: 1.7vh;
  border-radius: 20px;
  flex-shrink: 0;
  padding: 6px 16px;
  font-weight: 700;
  transition: 0.4s ease;
}

.days-left.has_placed:hover{
  background-color: #febec2;
}

.spot_info_panel{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height : 75vh;
	width: 40vw;
	top: 10vh;
	border-radius: 5px;
	position: absolute;
	background: rgba(250 250 250 / 30%);
	box-shadow: 0 2px 4px rgb(0 0 0 / 40%), 0 -1px 0 rgb(0 0 0 / 2%);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	transition: 0.4s ease;
}

.order_wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40vw;
	height: 40vh;
	margin: 2vh 0 2vh 0;
	overflow-y: scroll;
	-webkit-mask-image: linear-gradient(180deg, transparent, #000, #000, #000, #000, #000, #000, transparent);
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.order_wrapper::-webkit-scrollbar {
  display: none;
}
.spot_info_order{
	width: 37vw;
	font-size: 2.3vh;
	margin: 1vh 0 1vh 0;
	padding: 3vh 0 3vh 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 2px 4px rgb(0 0 0 / 40%), 0 -1px 0 rgb(0 0 0 / 2%);
}


.spot_info_order p{
	font-size: 2.4vh;
}

.order_type{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 1vw;
	padding-right: 1vw;
	width: 39vw;
	padding-top: 1vh;
	font-size: 2.3vh;
}
.order_type div{
	width: calc(20%);
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: var(--main-color);
	transition: 0.2s;
	font-size: 2.3vh;
}
.order_type div.active {
  background-color: #6191ce;
  color: var(--link-color-active);
  font-weight: 500;
}
.order_type div:not(.active):hover {
  background-color: var(--link-color-hover);
  color: var(--link-color-active);
}

.spot_options{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}