/* remove white space */
* { margin:0; padding:0; box-sizing:border-box; }

.bg-gradient {
    background: linear-gradient(-45deg, #4df3bc, #b26eff, #47b5fd);
    animation: gradient 60s ease infinite;
	background-size: 300% 300%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#logo{
	width: 130px;
	height: 8vh;
	display: flex;
	background-image: url(../index_pic/shadow.png);
	background-position: center;
	background-size: cover;
}

body {
	display: flex;
	flex-direction: row;
}

/* for notification */
.main_container{
	display: inline-flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	font-family: "Roboto", sans-serif;
}

.notification-container {
	display: flex;
	flex-direction: row;
	height: 0px;
	position: relative;
	z-index: 1000;
	justify-content: center;
	top: 0.8vh;
	transition: 0.4s ease;
}


#success{
	display: flex;
	align-items: center;
	justify-content: center;
	positon: relative;
	width: 50px;
	height: 50px;
	background: #4DF3BC;
	transform: scale(0);
	border-radius: 50%;
	color: black;
	opacity: 0;
	overflow: hidden;
	animation:  scale-in .3s ease-out forwards,
				expand .35s .25s ease-out forwards,
				scale-out .2s 4s forwards;
}

#error{
	display: flex;
	align-items: center;
	justify-content: center;
	positon: relative;
	width: 50px;
	height: 50px;
	background: #ED5565;
	transform: scale(0);
	border-radius: 50%;
	color: white;
	opacity: 0;
	overflow: hidden;
	/*  animation:myAnim 1s linear 1s infinite alternate both running; */
	animation:  scale-in .3s ease-out forwards,
				expand .35s .25s ease-out forwards,
				scale-out .2s 4s forwards;
}


.notification-text {
	display: flex;
	align-items: center;
	padding: 0 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	animation:  fade-in 1s ease-in forwards,
				fade-out 0.5s 4s forwards;
}

@keyframes scale-in {
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes scale-out {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes expand {
	50% {
		width: 350px;
		border-radius: 6px;
	}
	100% {
		width: 300px;
		border-radius: 4px;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2),
								0px 1px 1px 0px rgba(0,0,0,.14),
								0px 3px 3px -1px rgba(0,0,0,.12);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .8;
	}
}

@keyframes fade-out {
	0% {
		opacity: .8;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/* map display */

#map {
  height: 92vh;
  width: 100vw;
  /* width: inherit; */
  /* TODO swap in production */
  background-image: url(../index_pic/map.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* copy pasta from SF Food Truck*/

.container {
  height: 92vh;
  display: flex;
}

/* nav side bar*/
.left {
	display: inline-flex;
	width: 0vw;
	height: 100vh;
	background-size: cover;
	overflow-y: scroll;
	/* prevent wrap after retract */
	overflow-x: hidden;
	white-space:nowrap;
	/* TODO */
    background-color: transparent;
}

.right {
	display: inline-flex;
	width: 0vw;
	height: 100vh;
	flex-direction: column;
	overflow-y: scroll;
	/* prevent wrap after retract */
	overflow-x: hidden;
	white-space:nowrap;
	/* TODO */
	/* background: linear-gradient(90deg, #222222, #777777); */
	position: absolute;
	right: 0;
	top:0;
}

.animation_time {
	transition: 0.4s ease;
}

.expanded {
	width: 20vw;
	height: 100vh;
}

.main_container_retracted {
	width: 80vw;
}

div#user{
  display: flex;
  height: 7vh;
  width: 10vh;
  background-image: url(../index_pic/menu.png);
  background-size: 36%;
  background-repeat: no-repeat;
  background-position: center;
  transition: ease .1s;
}

div#user:hover{
  display: flex;
  height: 7vh;
  width: 10vh;
  background-image: url(../index_pic/menu.png);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}

div#search{
  display: flex;
  height: 7vh;
  width: 10vh;
  background-image: url(../index_pic/location.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: .4s ease;
}

.icon_to_left {
	margin-right: 20vw;
}

div#search:hover{
  display: flex;
  height: 7vh;
  width: 10vh;
  background-image: url(../index_pic/location.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

div#heading {
  margin: 0;
  height: 8vh;
  width: inherit;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div#search-area {
  margin: 0;
  height: 8.5vh;
  padding: 0.8vh;
  padding-right: 1.2vw;
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  /* prevent wrap after retract */
  overflow-x: hidden;
  white-space:nowrap;
}

div#search-area input {
  width: 15.1vw;
  height: 5vh;
  display: inline-block;
  text-indent: 10px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

div#search-area button {
  font-size: 14px;
  background: #FC6E51;
  font-weight: 600;
  height: 5vh;
  width: 6vh;
  display: inline-block;
  outline: none;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: 0.6s;
}

div#search-area button:hover{
  background: #ED5565;
}

#sidebar div#results-area {
  display: flex;
  width: inherit;
  height: inherit;
  overflow-x: hidden;
  white-space: nowrap;
  backdrop-filter: blur(1px);
}

div#results-area ul {
  padding: 0;
  list-style-type: none;
}

div#results-area ul li {
  border-radius: 0px;
  background: papayawhip;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%), 0 -1px 0 rgb(0 0 0 / 2%);
  padding: 5px 5px;
  margin-left: 0.5vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  width: 18.4vw;
  cursor: pointer;
  color: #626262;
}

div#results-area ul li:hover {
	border-bottom: none;
	border-top: none;
    /* padding: 4px 4px; */
}

div#results-area ul li p {
  margin: 0;
  font-size: 14px;
}

div#results-area ul li p.p-name {
	padding-left: 2px;
  font-family: Roboto;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div#results-area ul li div.row {
  font-family: Monospace;
  display: flex;
  flex-direction: row;
  align-content: center;
  text-indent: 4px;
}

div#results-area ul li div.row div.content {
  margin-left: 2px;
  margin-bottom: 5px;
  /* ...text overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.location_icons {
  flex-shrink: 0;
  width: 19px;
  background-image: url(../index_pic/loc.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.status_icons {
	flex-shrink: 0;
	width: 19px;
	background-image: url(../index_pic/owner.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.distance_icons{
	flex-shrink: 0;
	width: 19px;
	background-image: url(../index_pic/distance.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.mapboxgl-popup-content {
  background: black;
  font-family: "Titillium Web", sans-serif;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: black;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: black;
}
.mapboxgl-popup-close-button {
  color: white;
}
.mapboxgl-popup-content .marker-title {
  color: #fded39;
  text-transform: uppercase;
  font-size: 14px;
}
.mapboxgl-popup-content h4 {
  margin: 0;
  margin-top: 10px;
}


/* search with google map */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 200;
}

#pac-input {
  text-align: center;
  background-color: #fff;
  font-size: 14px;
  position: fixed;
  margin-left: 40vw;
  margin-top: 2vh;
  padding: 0 12px 0 5px;
  text-overflow: ellipsis;
  width: 20vw;
  height: 5vh;
  display: inline-block;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 2%);
  transition: ease 0.4s;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}