/* remove white space */
* { margin:0; padding:0; box-sizing:border-box; }

.bg-gradient {
    background: linear-gradient(-45deg, #4df3bc, #b26eff, #47b5fd);
    animation: gradient 60s ease infinite;
	background-size: 300% 300%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#logo{
	width: 130px;
	height: 8vh;
	display: flex;
	background-image: url(../index_pic/shadow.png);
	background-position: center;
	background-size: cover;
}

body {
	display: flex;
	flex-direction: row;
}

/* for notification */
.main_container{
	display: inline-flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	font-family: "Roboto", sans-serif;
}

.notification-container {
	display: flex;
	flex-direction: row;
	height: 0px;
	position: relative;
	z-index: 1000;
	justify-content: center;
	top: 0.8vh;
}


#success{
	display: flex;
	align-items: center;
	justify-content: center;
	positon: relative;
	width: 50px;
	height: 50px;
	background: #4DF3BC;
	transform: scale(0);
	border-radius: 50%;
	color: black;
	opacity: 0;
	overflow: hidden;
	animation:  scale-in .3s ease-out forwards,
				expand .35s .25s ease-out forwards,
				scale-out .2s 4s forwards;
}

#error{
	display: flex;
	align-items: center;
	justify-content: center;
	positon: relative;
	width: 50px;
	height: 50px;
	background: #ED5565;
	transform: scale(0);
	border-radius: 50%;
	color: white;
	opacity: 0;
	overflow: hidden;
	/*  animation:myAnim 1s linear 1s infinite alternate both running; */
	animation:  scale-in .3s ease-out forwards,
				expand .35s .25s ease-out forwards,
				scale-out .2s 4s forwards;
}


.notification-text {
	display: flex;
	align-items: center;
	padding: 0 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	animation:  fade-in 1s ease-in forwards,
				fade-out 0.5s 4s forwards;
}

@keyframes scale-in {
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes scale-out {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes expand {
	50% {
		width: 350px;
		border-radius: 6px;
	}
	100% {
		width: 300px;
		border-radius: 4px;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2),
								0px 1px 1px 0px rgba(0,0,0,.14),
								0px 3px 3px -1px rgba(0,0,0,.12);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .8;
	}
}

@keyframes fade-out {
	0% {
		opacity: .8;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/* map display */

#map {
  height: 92vh;
  width: inherit;
  /* TODO swap in production */
  background-image: url(../index_pic/map.png);
  background-size: cover;
}

/* copy pasta from SF Food Truck*/

.container {
  height: 92vh;
  display: flex;
}

/* nav side bar*/
.left {
	display: inline-flex;
	width: 0vw;
	height: 100vh;
	background: #ED5565;
	overflow-y: scroll;
}

.right {
	display: inline-flex;
	width: 0vw;
	height: 100vh;
	background: #ED5565;
	overflow-y: scroll;
}

.animation_time {
	transition: 1s ease;
}

.expanded {
	width: 20vw;
	height: 100vh;
}

.main_container_retracted {
	width: 80vw;
}

#sidebar div#results-area {
  overflow-y: scroll;
}

div#search{
  display: flex;
  height: 8vh;
  width: 10vh;
  background-color: #000000;
}

div#user{
  display: flex;
  height: 8vh;
  width: 10vh;
}

div#heading {
  margin: 0;
  height: 8vh;
  width: inherit;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div#search-area {
  padding: 10px;
  border-bottom: 1px solid #444444;
}

div#search-area input,
div#search-area button {
  padding: 10px 8px;
  border: none;
}
div#search-area input {
  width: 195px;
}
div#search-area button {
  background: #fded39;
  font-weight: 600;
  text-transform: uppercase;
}

div#results-area {
  padding: 10px;
}
div#results-area h5 {
  font-weight: 200;
  font-style: italic;
  margin: 0;
  color: #ddd;
}
div#results-area h5 span.highlight {
  color: #fded39;
  font-weight: 600;
}
div#results-area ul {
  padding: 0;
  list-style-type: none;
}

div#results-area ul li {
  border: 1px solid #444;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

div#results-area ul li:hover {
  border: 1px solid #fded39;
}

div#results-area ul li p {
  margin: 0;
  font-size: 14px;
}

div#results-area ul li p.truck-name {
  color: #fded39;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
  margin-bottom: 5px;
}
div#results-area ul li div.row {
  display: flex;
  flex-direction: row;
}
div#results-area ul li div.row div.icons {
  flex-shrink: 0;
  width: 16px;
}

div#results-area ul li div.row div.content {
  margin-left: 8px;
}

.mapboxgl-popup-content {
  background: black;
  font-family: "Titillium Web", sans-serif;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: black;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: black;
}
.mapboxgl-popup-close-button {
  color: white;
}
.mapboxgl-popup-content .marker-title {
  color: #fded39;
  text-transform: uppercase;
  font-size: 14px;
}
.mapboxgl-popup-content h4 {
  margin: 0;
  margin-top: 10px;
}
