.infowindow{
	width: 18vw;
	cursor: pointer;
	transition: 0.6s ease;
	background-color: transparent;
}
.p-name{
	font: 400 15px Roboto, Arial, sans-serif;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.p-name+div{
	font-family: "Lucida Grande";
	display: flex;
	flex-direction: row;
	align-content: center;
	text-indent: 4px;
	font-size: 14px;
}
.p-name+div+div{
	font-family: "Lucida Grande";
	display: flex;
	flex-direction: row;
	align-content: center;
	text-indent: 4px;
	font-size: 14px;
}
.p-name+div+div+div{
	font-family: "Lucida Grande";
	display: flex;
	flex-direction: row;
	align-content: center;
	text-indent: 4px;
	font-size: 14px;
}