<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SHARK - 登录</title>
		<link rel="stylesheet" type="text/css" href="login.css"/>
		
		<script src="vue.js"></script>
		<script src="jquery.js"></script>
		<script src="axios.js"></script>
		<script src="md5.js"></script>
	</head>
	<body class="bg-gradient">
		<div id="banner">
			<div id="logo" onclick="location.href='index.html'"></div>
		</div>
		
		<div class="wrapper">
			<div class="container" id="login_form">
				<form class="form" @submit.prevent="">
					<input type="text" placeholder="手机号" v-model="user.tel" required>
					<input type="password" placeholder="密码" v-model="user.password" required>
					<button type="submit" id="login-button" @click="login">登录</button>
					<br>
					<br>
					<h5>还没账号？<a href="register.html" style="color: #53e3a6;">现在注册</h5>
				</form>
			</div>
		</div>
	</body>

<!-- script section -->
<script type="text/javascript">
// configure Vue
Vue.config.productionTip = false
// create a Vue instance
new Vue({
	// assign Vue instance to specific container
    el: '#login_form',
	// data for element
	data:{
		user:{
			tel: "",
			password: "",
		}
	},
	methods:{
		login(){
			axios.post('http://127.0.0.1:5000/user/login',
						{
							tel: this.user.tel,
							password: md5(this.user.password)
						},
						{
							'Content-Type': 'application/x-www-form-urlencoded',
							'Accept': 'application/json'
						}
				)
			.then(function (response) {
			  console.log(response.data);
			})
			.catch(function (error) {
			  console.log(error);
			});
		}
	}
})
</script>
	
</html>
